$family: Verdana, Geneva, Tahoma, sans-serif;
$fontSize: 20px;

body {
  font-family: $family;
  font-size: $fontSize;
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  padding: 0;
}

@-ms-viewport {
  width: device-width;
}
